body{
    background-color:lightgrey;
    }
    
h1  {
    text-align: center;
    font-weight:bold
    }
#song {
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    border-radius: 8px
      }
    
#song ul {
    padding: 0;
    margin: 0;
        }
    
 #song li {
    list-style: none;
        }
    
 #song a {
    text-decoration: none;
    color: black;
    }
 h2{
        text-align:center;
    }
 #main{
        border: 1px solid black;
        width:600px;
        margin-left:50px;
        padding:26px;
        height:600px;
        background-color:white;
        border-radius: 8px;
    }
 #vedioplay{
        width:600px;
    }
#audioplay{
        width:600px;
    }
		
